
  <p id='main-app'> </p>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
        </div>
      </div>
      <img src="https://mobirise.com/bootstrap-template/store-template/assets/images/samuel-zeller-62819.jpg" class="img-fluid" alt="">
    </div>
  </section>

  <section id="garden" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
        </div>
      </div>
      <img src="https://mobirise.com/bootstrap-template/store-template/assets/images/samuel-zeller-62819.jpg" class="img-fluid" alt="">
    </div>
  </section>

  <section id="profile" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
        </div>
      </div>
      <img src="https://mobirise.com/bootstrap-template/store-template/assets/images/samuel-zeller-62819.jpg" class="img-fluid" alt="">
    </div>
  </section>

  <section id="blog" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
        </div>
      </div>
      <img src="https://mobirise.com/bootstrap-template/store-template/assets/images/samuel-zeller-62819.jpg" class="img-fluid" alt="">
    </div>
  </section>

 