
<span class = "btn"></span>
<span class = "btn"></span>

<div class="wrap">
  <% 8.times do |count| %>
  <div class = "blocks"></div>
  <% end %>
</div >
<br>


<div>
  <div id="container"> Hello From plants
    <p id='main-app'></p>
  </div>
</div>


